*{
    margin: 0;
    padding: 0;
}
body{
    background: #FFE8C8;
    border-left: 32px solid #764400;
    border-right: 32px solid #764400;
    height: 100vh;
}
/* .header_border__left{
    border-left: 32px solid  #764400;
    height: 170vh;
}
.header_border__right{
    border-right: 32px solid  #764400;
    height: 170vh;
    position: absolute;
    top: 0;
    right: 0;
} */
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65em;
}
.header__logo{
    align-self: start;
}
.header__content{
    display: flex;
    flex-direction: column;
    width: 910px;
}
.header__title{
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 104px;
    line-height: 123px;
    color: #A66000;
}
.header__block{
    display: flex;
    justify-content: flex-end;
}
.header__btn{
    margin-top: -90px;
    width: 273px;
    height: 64px; 
    background: #A66000;
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 29px;
    line-height: 35px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0% 0%, 95% 0%, 100% 100%, 5% 100%);
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}
.main-left, .main-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}
.slogan{
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    color: #000000;
}
.header__text{
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-top: 30px;
}

.header_block__img{
    width: 390px;
    height: 496px;
    background: #A66000;
    background: #A66000;
}
.girl-img{
    position: relative;
}
.girl-img::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10px;
  right: -30px;
  background: #A66000;
  z-index: -1;
}

.header_button__block{
    display: flex;
    justify-content: flex-end;

}
.header__button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 440px;
    height: 103px;
    background: #A66000;
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    transform: skewX(-25deg);
    position: relative;

}
.header__button::after{
    content: 'Shop Now';
    position: absolute;
    left: 30%;
    top: 20%;
    transform: translate(-50%, -50%);
    transform: skewX(25deg);
}

.header__image{
    position: relative;
}
 .header__image::after{
    content: '';
    width: 100%;
    height: 100%;
    background: #A66000;
    position: absolute;
    right: 30px;
    top: -10px;
    z-index: -1; 
} 